@import "variables.css";

/************************/
/* HEADER */
/************************/

.header {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: var(--primary-bg);
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
  padding: 1.6rem 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--primary-color-light);
  transition: all 0.2s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-color);
}

.main-nav-link.nav-contact:link,
.main-nav-link.nav-contact:visited {
  background-color: var(--action-color);
  color: var(--primary-color);
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.main-nav-link.nav-contact:hover,
.main-nav-link.nav-contact:active {
  background-color: var(--action-hover);
}

/************************/
/* HERO */
/************************/

.hero-section {
  background-color: var(--primary-bg);
  padding: 9.6rem 0;
  z-index: -2;
}

.hero {
  align-items: center;
}

.hero-description {
  margin-left: 3.2rem;
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

.hero-description .sometimes {
  font-size: 1.4rem;
  color: var(--primary-color-lightest);
}

.hero-img {
  width: 100%;
}

.hero-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

/************************/
/* ABOUT ME */
/************************/

.about-section {
  padding: 9.6rem 0;
}

.about-text-box {
  padding: 2.4rem;
}

.about-description {
  padding: 0 0.8rem;
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: -0.3px;
}

.about-description:not(:last-child) {
  margin-bottom: 1.2rem;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  column-gap: 3.2rem;
  row-gap: 6.4rem;
}

.skill-header {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 2rem;
  font-weight: 500;
}

.skills-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 4.8rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  transition: all 0.3s;
}

.skill:hover {
  transform: translateY(-5%);
}

.skill span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3.2rem;
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--primary-color-lightest);
}

.skill-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  background-color: var(--action-color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.08);
}

.skill-logo img {
  position: relative;
  width: 4.8rem;
}
